OS_DATAHUB_API_KEY="<enter your DataHub API key>"
METOFFICE_DATAHUB_API_KEY="<enter your MetOffice API key>"
METOFFICE_ORDER_ID="<enter your MetOffice order id>"
UNSPLASH_ACCESS_KEY="<enter your Unsplash access key>"
STREET_MANAGER_RELAY_SENTRY_DSN="<enter your Street Manager Relay Sentry DSN>"

FUEL_PRICES_CLIENT_ID="<enter your Fuel Prices client id>"
FUEL_PRICES_CLIENT_SECRET="<enter your Fuel Prices client secret>"
FUEL_PRICES_SENTRY_DSN="<enter your Fuel Prices Sentry DSN>"
FUEL_PRICES_ENVIRONMENT="production"

NEXT_DEPARTURES_SENTRY_DSN="<enter your Next Departures Sentry DSN>"
NEXT_DEPARTURES_ENVIRONMENT="production"
NEXT_DEPARTURES_TRANSPORTAPI_APP_ID="<enter your Next Departures TransportAPI app id>"
NEXT_DEPARTURES_TRANSPORTAPI_APP_KEY="<enter your Next Departures TransportAPI app key>"